body{
    margin: 0px 0px 1cm 0px;
    padding: 0;
    background-color: rgb(58, 55, 55);
    color: white;
    
}
pre{
    font-family: 'Courier New', Courier, monospace;
}
.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.container-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.left-col-1-1{
    
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    
}
.right-col-1-1{
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    
}
.header-left-col{
    display:inline-flex;
    justify-content: left;
    background-color: rgb(58, 55, 55);
    height: 2cm;
}
.header-right-col{
    text-align: right;
    background-color: rgb(58, 55, 55);
    height: 2cm;
}
.left-col{
    background-color: rgb(75, 70, 70);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    text-align: center;
    height: 30cm;
}
.right-col{
    padding-top: 1cm;
    padding-left: 1cm;
    height: 30cm;
}
.a{
    margin: 30px 10px 0px 10px;
    text-decoration: none;
    color: white;
    background-color: black;
    
}
hr{
    margin: 0px;
    border:0px;
    border-radius: 5px;
    height:4px;
    background-color: rgb(145, 140, 140);
    
} 

input,select,textarea{
    margin-top: 5px;
    border-style: solid;
    border-width: 0mm;
    border-color: black;
    border-radius: 5px;
    height: 0.90cm;
    width: 10cm;
    background-color: rgb(29, 28, 28);
    color: white;
}

.header-profile-picture{
    width: 50px;  
    height: 50px; 
    border-radius: 50%;
    object-fit:cover;
    margin-top: 11px;
    margin-left:  3px;
    margin-right: 5px;
}
.body-profile-picture{
    width: 6cm;
    height: 6cm;
    border-radius: 10px;
    object-fit:cover;
    margin-top: 10px;

}
footer{
    margin-top: 2px;
    padding-top: 0.1cm;
    padding-bottom: 0.1cm;
    text-align: center;
    background-color:rgb(141, 94, 94);
    bottom: 0;
    position: fixed;
    width: 100%;
}
    
.h2{
    margin-left: 5px;
}   

button{
    margin-top: 5px;
    background-color: rgb(196, 132, 36);
    height: 1cm;
    width: 1.5cm;
    border-radius: 5px;
    color: white;
}
.link-button{
    padding: 6px 4px 6px 4px;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    color: white;
    background-color:  rgb(196, 132, 36);
    
}
    

.campaign-block{
    margin: 30px 10px 15px 10px;
    
}

.inner-block{
    margin: 20px 10px 15px 0px;
}

.search-box{
    margin-top: 1cm;
    margin-right: 0.5cm;
    text-align: right;
}
