body{
    background-color: rgb(85, 83, 83);
    color: white;
    margin-left: 2cm;
    margin-right: 2cm;
}
a{
    text-decoration: none;
    color: skyblue;
}
hr{
    margin: 0px;
    border:0px;
    border-radius: 5px;
    height:5px;
    background-color: rgb(145, 140, 140);
    
}
div{
    text-align: center;
}
footer{
    padding-top: 0.1cm;
    padding-bottom: 0.1cm;
    text-align: center;
    background-color:rgb(141, 94, 94);
}
input,select{
    margin-top: 5px;
    border-style: solid;
    border-width: 0.5mm;
    border-color: black;
    border-radius: 5px;
    height: 0.90cm;
    width: 10cm;
    background-color: black;
    color: white;
}
button{
    margin-top: 2px;
    background-color: rgb(196, 132, 36);
    height: 1cm;
    width: 1.5cm;
    border-radius: 5px;
    color: white;
}