<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="device-width, initial-scale=1">
        <title>Admin login</title>
        <link rel="stylesheet" href="..\static\login.css">
    </head>
    <body>
        <div style="height: 18.5cm;">
            <h1>Admin login</h1>
            <hr>
            <form action="{{url_for('admin_login')}}" method="post">
                <label>Admin ID</label><br>
                <input placeholder="Enter ID" type="text" name="userId" required><br>
                <label>Password</label><br>
                <input placeholder="Enter password" type="text" name="password" required><br>
                <button type="submit" value="sent">login</button>
            </form>
            <p>go back to <a href="{{url_for('home')}}">Home</a></p>
        </div>
        
    </body>
</html>