<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="device-width, initial-scale=1">
        <title>Home</title>
        <link href="..\static\home.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="header-left-col">
                <h2 class="h2">SIplatform.</h2>
            </div>
            <div class="header-right-col">
                <section class="campaign-block">
                    <a href="{{url_for('sponsor_login')}}" class="link-button">Sponsors</a>
                    <a href="{{url_for('influencer_login')}}" class="link-button">Influencers</a>
                    <a href="{{url_for('admin_login')}}" class="link-button">Admin</a>
                </section>
                
            </div>
        </div>
        <hr>
        <div>

        </div>
        
    </body>
</html>