<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="device-width, initial-scale=1">
        <title>Influencer | Registration</title>
        <link rel="stylesheet" href="..\static\register.css">
    </head>
    <body>
        <h1>Create an account</h1>
        <hr>
        <p>please enter your details here.</p>
        <form action="/influencer/register" method="POST">
            <label>Name</label><br>
            <input type="text" name="name" placeholder="your name" required><br>
            <label>Work Email</label><br>
            <input type="email" name="email" placeholder="email" required><br>
            <label>Mobile No</label><br>
            <input type="tel" name="mobno" placeholder="Mobno" required maxlength="10" minlength="10"><br>
            <label>Category</label><br>
            <select type="text" name="category" required >
                <option value="Select" selected disabled>Select</option>
                <option value="Experienced">Experienced</option>
                <option value="Midlevel">Midlevel</option>
                <option value="Beginer">Beginer</option>
            </select><br>
            <label>Niche</label><br>
            <input type="text" name="niche" placeholder="field of interest" required><br>
            <label>Reach</label><br>
            <input type="number" name="reach" placeholder="your reach" required><br>
            <label>Password</label><br>
            <input type="text" name="password" placeholder="password" required><br>
            <P>Don't worry you can update any field Later.</P>
            <button type="submit" >Get Started</button>
        </form>
        <p>Have an account?<a href="{{url_for('influencer_login')}}">Login</a></p>
        <p>go back to home<a href="{{url_for('home')}}">Home</a></p>
    </body>
</html>


